body {
    background-color: #f2f2f2;
}

#subjects,
textarea {
    height: 120px;
}

.user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    
}

.text{
    color:#212529 !important;
}

.form-control {
 background-color: rgb(43, 44, 48) !important;
 color: white !important;
}

.labels {
    margin-bottom: 5px;
}

.upload-img {
    width: 109px;
    border-radius: 5px;
    border: none;
}

.header-6 {
    background-color: #2b2c30;
}

a {
    text-decoration: none !important;
}

.loading-line {
    display: none;
}

@media (min-width:995px) {

    .total-time {
        width: 145px;
    }
}

.loading-btn,
.change-password-section {
    display: none;
}

.card {
    background: linear-gradient(to right, #2980b9, #274e75);
    padding: 0;
    border: none;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
}